
/*=============================================
=            文件上传            =
=============================================*/

.upload-box{
    position: relative;
}
.upload-box .input{
    position: relative;
    float: left;
}
.upload-box input.fileInput{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    overflow: hidden;
}

/*=====  End of 文件上传  ======*/

