extends ../includes/extend.jade

block title
    title 图片上传

block content
    form(action='/images/upload', enctype='multipart/form-data', method='post')
        input(type='file' name='image')
        input(type='submit' id='upload' value='上传图片')


