extends ./includes/extend.jade

block content
    - var list = []
    - list.push({href:'dns/index', title:'DNS查询工具'})
    - list.push({href:'socket/index', title:'socket.io'})
    - list.push({href:'request/index', title:'Request模块'})
    - list.push({href:'formidable/index', title:'Formidable模块'})

    ul
        each v, i in list
            li
                a(href=v.href) #{v.title}
