extends ../includes/extend.jade

block title
    title Request模块

block content
    h3 实现服务器跨域请求
    button#submit 获取数据
    pre
        code#show
    script(src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    script(src='request.js')
