doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='http-equiv',  content='ie=edge')
        //- 继承 title
        block title
            title Nodejs
        link(rel='icon', sizes='32x32', type='image/png', href='/images/favicon.png')
    body
        block content