doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='http-equiv',  content='ie=edge')
        link(rel='icon', sizes='32x32', type='image/png', href='http://nodejs.cn/static/favicon.png')
    body