extends ./includes/extend.jade

block content
    - var list = []
    - list.push({href:'dns', title:'解析DNS'})
    - list.push({href:'socket', title:'socket.io'})
    - list.push({href:'request', title:'服务器跨域请求'})
    - list.push({href:'formidable', title:'表单处理'})
    - list.push({href:'images', title:'上传图片'})

    ul
        each v, i in list
            li
                a(href=v.href) #{v.title}
